* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: auto;
    font-size: 15px;
    max-width: 1200px;
    overflow-x: hidden;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    background-color: #f4f6f2;
    -webkit-overflow-scrolling: touch;
    font-family: 'Noto Sans JP', sans-serif;
  }

  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
.hidden-thing {
    opacity: 0;
    left: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
}

.carousel {
    width: 100%;
    height: 100%;
}

.carousel-item {
    min-height: 450px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.carousel-item.top {
    background-position: center center;
}

section {
    position: relative;
}


/* NAVBAR */

.navbar {
    justify-content: flex-end;
}

.navbar-nav {
    text-align: center;
}

button:focus {
    outline: none !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #8e9b8c;
    transition-duration: 0.6s;
}

@media screen and (max-width: 768px) {

    .navbar-expand-lg .navbar-nav .nav-link {
        margin-left: 0;
        margin-top: 1rem;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 414px) { 
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-left: 0;
        font-size: 1rem;
    }
}

/* HEADER */

.top-left-container,
.top-right-container {
    text-align: center;
    background-size: cover;
    width: 100% !important;
    background-position: center left;
}

.top-left-container {
    background-color: #f4f6f2;
    background-position: center left;
}

.top-left-container img {
    width: 38rem;
}

.top-right-container {
    display: none;
    min-height: 400px;
    filter: sepia(30%) grayscale(15%);
    background-image: url(images/background.jpg);    
}

.backdrop {
    height: 100%;
    display: flex;
    padding-top: 5rem;
    align-items: center;
    padding-bottom: 6rem;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .start-container {
        display: flex;
    }

    .top-left-container {
        width: 50%;
        min-height: 620px;
    }
}

@media screen and (max-width: 530px) {
    .top-left-container img {
        width: 25rem;
    }
}

/* WELCOME */

.flower {
    position: absolute;
    top: -7rem;
    width: 10rem;
}

.leaf {
    position: absolute;
    top: -7rem;
    width: 6rem;
}

.flower#two {
    right: 2%;
}

.flower#three {
    left: 2%;
}

.flower#four {
    right: 0
}

.leaf#five {
    right: 15%
}

.leaf#six {
    left: 20%
}

.leaf#seven {
    left: 50%
}

.leaf#eight {
    left: 65%
}

.container-welcome {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.welcome-image-container,
.welcome-to-us-text {
    width: 100%;
    z-index: 100;
}

.welcome-image-container {
    min-height: 450px;
    background-size: cover;
    filter: sepia(30%) grayscale(15%);
    background-position: center center;
    background-image: url(images/welcome-to-us.jpg);
}

.welcome-to-us-text {
    display: flex;
    text-align: center;
    line-height: 1.5rem;    
    padding: 2.5rem 2rem;
    flex-direction: column;
    justify-content: center;
    background-color: #dae1ea;
}

.bold {
    font-weight: bold; 
}

.welcome-to-us-text h2 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.welcome-to-us-text u {
    text-decoration: none;
    padding-bottom: 0.2rem;
    border-bottom: 4px solid #ffffff61;
}

.welcome-to-us-text .regards {
    font-weight: 900;
}

.welcome-to-us-text span {
    font-weight: 600;
    color: #ffffff61;
}

@media screen and (min-width: 800px) {
    .container-welcome {
        flex-direction: row-reverse;
    }

    .welcome-image-container,
    .welcome-to-us-text {
        width: 50%;
        min-height: 500px;
    }

    .welcome-to-us-text {
        width: 50%;
    }
}

/* BOENDE */

.container-boende {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.boende-image-container,
.boende-text {
    width: 100%;
}

.boende-image-container {
    min-height: 450px;
    position: relative;
    background-size: cover;
    background-position: center left;
    filter: sepia(30%) grayscale(15%);
}

.boende-text {
    display: flex;
    text-align: center;
    line-height: 1.5rem;    
    padding: 2.5rem 2rem;
    flex-direction: column;
    justify-content: center;
}

.boende-text h2 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.boende-text a {
    color: #000;
    transition: 250ms;
    text-decoration: underline;
}

.boende-text a:hover {
    opacity: 0.6;
}

.boende-text u {
    text-decoration: none;
    border-bottom: 4px solid #b6c5df6c;
    padding-bottom: 0.2rem;
}

.boende-text span {
    font-size: 2rem;
    color: #8e9b8c;
}

@media screen and (min-width: 800px) {
    .container-boende {
        flex-direction: row;
    }

    .boende-image-container,
    .boende-text {
        width: 50%;
        min-height: 500px;
    }

    .boende-text {
        width: 50%;
    }
}

/* RESETIPS */

.container-resetips {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #b6c5df6c;
}

.resetips-text-container {
    display: flex;
    flex-direction: column;
}

.resetips-text {
    width: 100%;
    margin: auto;
}

.resetips-text {
    display: flex;
    text-align: center;
    line-height: 1.5rem;    
    padding: 2.5rem 2rem;
    flex-direction: column;
}

.resetips-text h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.resetips-text u {
    text-decoration: none;
    padding-bottom: 0.2rem;
    border-bottom: 4px solid #ffffff61;
}

.resetips-text span {
    color: #ffffff61;
    font-size: 2rem;
}

.resetips-text .title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

.resetips-text img {
    width: 30px;
    margin-left: 0.25rem;
}

@media screen and (min-width: 800px) {
    .resetips-text-container {
        flex-direction: row;
    }

    .resetips-text {
        /* width: 50%; */
        min-height: 500px;
    }

    .resetips-text {
        width: 50%;
    }
}

/* TOASTMASTERS */

.container-toastmasters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.toastmasters-image-container,
.toastmasters-text {
    width: 100%;
}

.toastmasters-image-container {
    min-height: 450px;
    background-size: cover;
    background-position: center center;
    /* filter: sepia(10%) grayscale(5%); */
    background-image: url(images/toastmasters-AC-2.png);
}

.toastmasters-text {
    display: flex;
    text-align: center;
    line-height: 1.5rem;    
    padding: 2.5rem 2rem;
    flex-direction: column;
    justify-content: center;
}

.toastmasters-text h2 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.toastmasters-text u {
    text-decoration: none;
    padding-bottom: 0.2rem;
    border-bottom: 4px solid #b6c5df6c;
}

.toastmasters-text span {
    font-size: 2rem;
    color: #ffffff61;
}

@media screen and (min-width: 800px) {
    .container-toastmasters {
        flex-direction: row;
    }

    .toastmasters-image-container,
    .toastmasters-text {
        width: 50%;
        min-height: 500px;
    }

    .toastmasters-text {
        width: 50%;
    }
}

/* PROGRAM */

.program-container {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #b6c5df6c;
    padding: 2rem 1rem 4rem 1rem;
}

.program-container h2 {
    text-align: center;
}

.program-container .program-text-container {
    padding: 0 1rem;
}

.program-container .program-header {
    font-size: 2.5rem;
    margin: 2rem 2rem 4rem 2rem;
}

.program-container .program-header span {
    color: #8e9b8c;
    font-size: 3rem;
}

.program-container ol {
    height: 100%;
    list-style: none;
    margin-left: 72px;
    padding-left: 32px;
    position: relative;
    border-left: 2px dotted #999;
}

.program-container ol .icon-container {
    left: -75px;
    position: absolute;
}

.program-container ol .icon-container img {
    width: 35px;
    height: 35px;
}

.program-container ol li {
    min-height: 48px;
    margin-top: 16px;
    position: relative;
    margin-bottom: 24px;
}

.program-container ol li:before {
    top: 12px;
    width: 8px;
    content: "";
    left: -37px;
    height: 8px;
    border-radius: 8px;
    position: absolute;
    border: 4px solid #b6c5df;;
}

.program-container ol li .event {
    display: flex;
    hyphens: auto;
    font-size: 16px;
    font-weight: 900;
    -ms-hyphens: auto;
    letter-spacing: 2.5px;
    -webkit-hyphens: auto;
}

.program-container ol li .event p {
    margin-right: 16px;
    margin-bottom: 8px;
}

.program-container ol li .adress {
    width: 20rem;
}

@media screen and (max-width: 500px) {
    .program-container ol li .adress {
        width: 15rem;
    }
}

/* FAQ */

.container-faq {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.faq-image-container,
.faq-text {
    width: 100%;
}

.faq-image-container {
    min-height: 450px;
    position: relative;
    background-size: cover;
    background-position: center left;
    filter: sepia(30%) grayscale(15%);
    background-image: url(images/toastmasters.jpeg);
}

.faq-text {
    display: flex;
    text-align: center;
    line-height: 1.5rem;    
    padding: 2.5rem 2rem;
    flex-direction: column;
    justify-content: center;
}

.faq-text h2 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.faq-text a {
    color: #fff;
    transition: 250ms;
    text-decoration: underline;
}

.faq-text a:hover {
    opacity: 0.6;
}

.faq-text u {
    text-decoration: none;
    padding-bottom: 0.2rem;
    border-bottom: 4px solid #b6c5df6c;
}

.faq-text span {
    color: #ffffff61;
    font-size: 2rem;
}

@media screen and (min-width: 800px) {
    .container-faq {
        flex-direction: row;
    }

    .faq-image-container,
    .faq-text {
        width: 50%;
        min-height: 500px;
    }

    .faq-text {
        width: 50%;
    }
}

/* CONTACT */

.osa-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b6c5df6c;
}

.osa-container .osa-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 2rem 5rem 2rem;    
}

.osa-container .osa-form-container img {
    width: 30px;
    height: 30px;
    text-align: center;
}

.osa-container .osa-form-container h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 2rem 0.5rem 2rem;
}

.osa-container .osa-form-container .osa-date {
    margin-bottom: 2rem;
}

.osa-container .osa-form-container h2 span {
    font-size: 3rem;
    color: #d0d0d0;
    margin: 0 0.25rem;
}

.osa-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.osa-container form label {
    margin-top: 1.5rem;
}

.osa-container form input,
.osa-container form textarea,
.osa-container form select {
    padding: 0.5rem;
    border-radius: 4px;
    border: solid #b6c5dfb6 1px;
}

.osa-container textarea:focus, 
.osa-container select:focus, 
.osa-container input:focus {
    outline: none;
}

.osa-container form .desc {
    font-size: 12px;
}

.osa-container form button {
    padding: 1rem;
    color: black;
    margin-top: 3rem;
    font-weight: bold;
    border-radius: 2rem;
    transition-duration: 0.4s;
    background-color: #f5f5f5;
    border: 1px solid #b6c5dfb6;
}

.osa-container form button:hover {
    background-color: #e9e9e9;
}

@media screen and (min-width: 800px) {
    .osa-container {
        flex-direction: row;
    }

    .osa-form-container {
        width: 50%;
        min-height: 500px;
    }
}